.Notification {
  .notice {
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
    height: 22px;
  }

  .alert {
    background-color: #F35500;
    color: #fff;
    text-align: center;
    height: 22px;
  }
}